:root{
    --bodyFont: 14px;
    --headerFont: 20px;
}

.container{
    padding: 20px 40px;
    position:relative;
}

nav#navbar{
    display:block;
    width:100%;
    text-align:center;
    padding: 20px;
}

#navbar .brand h1{
    font-size: 24px;
    font-family: "Poppins";
    font-weight: bold;
    color: var(--primaryColor);
}

h1.header-title{
    font-size:28px;
    line-height: 38px;
}

#header .content{
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content:center;
}

.left-content{
    flex:100%;
    text-align: center;
    order:1;
}

input#messages{
    width:80%;
}

#btn-send{
    font-size:var(--bodyFont);
}

.right-content{
    flex:100%;
    order:0;
    margin-bottom: 35px;
}

#tracking .content{
    display:grid;
    grid-template-columns: repeat(1, auto);
}

#fund_raising #slider{
    width: 80%;
    height: 45vh;
}

.slide-item .caption h1{
    font-size:20px;
}

.dots div{
    width: 15px;
    height: 15px;
}

a.btn-donate {
    bottom: 6%;
    font-size: 12px;
    padding: 3px 5px;
    text-align: center;
}

footer .container{
    display:block;
    text-align:center;
}

footer .share{
    margin-top: 12px;
   display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}